<!doctype html>
<html lang="en" ng-app="chat">
<head>
  <meta charset="UTF-8">
  <title>Realtime Chat</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="HandheldFriendly" content="true">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="scss/css/sbase.css">
  <link rel="icon" type="image/png" href="favicon.png" />
  <script src="angular.js"></script>
</head>
<noscript><p>Warning: This needs JavaScript enabled to work.</p></noscript>
<body ng-controller="Chat">
    <header>
    <section id="title" class="container masthead">
      <div class="row">
        <div class="span12">
          <h1><span class="color-text">Basechat</span></h1>
          <p>Angular js | Firebase | Node js</p>
        </div>
      </div>
    </section>
  </header>
  <section class="container ptop150">
  <div class="row">
  <div>
    <label style="white-space: nowrap;" for="">Your name: </label><input id="name" type="text" ng-model="username">
  </div>
  <p></p>
  <div id="messagesDiv" auto-scroll="messages" style="background:#232527; color:#CFCFCF; padding:10px;">
    <div ng-cloak ng-repeat="message in messages">
      <em>{{message.from}}: </em>{{message.content}}
    </div>
  </div>
  <p></p>
  <form ng-submit="addMessage()">
    <input id="message" type="text" ng-model="message" placeholder="Message...">
    <input class="btn round medium" id="send" type="submit" id="submit" value="Send">
  </form>
  </div>
  </section>
  <!-- Start Footer -->
  <section class="container">
  <div class="row">
  <footer>
      <div class="row">
        <div class="span12">
          <p>a realtime app experiment by <a href="http://www.tonymeyer.org" target="_blank"> www.tonymeyer.org</a>
          </p>
        </div>
      </div>
    </footer>
  </div>
  </section>
  <!-- End Footer -->
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
